<img src="/assets/img/login.png"  class="mx-auto d-block">

<form  style=" max-width: 450px; background: #f4f7f8;margin: 10px auto; padding: 10px 20px; border-radius: 8px;" [formGroup]="changePasswordForm" autocomplete="off" (submit)="onSubmit()">

  
    <div class="form-group">
      <label> كلمة السر الحاليه</label>
      <input type="password" placeholder="كلمة المرور" class="form-control" formControlName="CurrentPassword" [class.is-invalid]="(submitted || f.CurrentPassword.touched) && f.CurrentPassword.errors">
    <div class="text-danger" *ngIf="(submitted || f.CurrentPassword.touched) && f.CurrentPassword.errors">
      <div *ngIf="f.CurrentPassword.errors.required">
          من فضلك ادخل كلمة السر
      </div>
      <div *ngIf="f.CurrentPassword.errors.minlength">
       من فضلك كلمة الحروف اكثر من اويساوي 4 ارقام
      </div>
    </div>
    </div>

    <div class="form-group">
        <label> كلمة السر الجديده</label>
        <input type="password" placeholder="كلمة المرور" class="form-control" formControlName="NewPassword" [class.is-invalid]="(submitted || f.CurrentPassword.touched) && f.CurrentPassword.errors">
      <div class="text-danger" *ngIf="(submitted || f.NewPassword.touched) && f.NewPassword.errors">
        <div *ngIf="f.NewPassword.errors.required">
            من فضلك ادخل كلمة السر
        </div>
        <div *ngIf="f.NewPassword.errors.minlength">
         من فضلك كلمة الحروف اكثر من اويساوي 4 ارقام
        </div>
      </div>
      </div>


      <div class="form-group">
        <input type="submit" class="btn btn-success btn-block" value="Submit">
        <input type="button" (click)="onclose()" class="btn btn-danger btn-block" value="رجوع ">
      </div>
    
  </form>
  