

  <!-- Start Style -->
  <style>
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #FAFAFA;
      font-family: 'Cairo' !important;
    }
    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    .page {
      position: relative;
      width: 210mm;
      height: 297mm;
      padding: 20mm;
      margin: 10mm auto;
      border: 1px #1a0101 solid;
      border-radius: 5px;
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
      margin: calc(50% - 27mm) auto;
      background-color: #dbdcdc;
      position: relative;
      width: 86mm;
      height: 54mm;
      padding: 1mm;
      border: 1px #dbdcdc solid;
    }
    @page {
        size: A4;
        margin: 0;
    }

    @media print {
    .page {
      width: 210mm;
      height: 297mm;
      padding: 20mm;
      margin: 10mm auto;
      border: 1px #1a0101 solid;
      border-radius: 5px;
      background: white;
    }
    .subpage {
      margin: calc(50% - 27mm) auto;
      position: relative;
      background-color: #dbdcdc;
      width: 86mm;
      height: 54mm;
      padding: 1mm;
      border: 1px #dbdcdc solid;
    }
    .page {
        display: block;
      }
    }
  </style>
    <!-- End Style -->

    <!-- Start Face To Print -->
    <div id="demo1" class="page">
      <div class="subpage">
        <img src="../../../../../assets/cards/face1.jpg" alt=""
          style="
          max-width: 100%;
          min-height: 100%;
        ">

      <!-- Start Arabic Name -->
        <div class="name-ar"
          style="
          position: absolute;
          height: 24px;
          width: 187px;
          top: 60px;
          left: 125px;
          text-align: left;
          overflow: hidden;
          ">
          <p
            style="
            margin: 0;
            font-family: 'Cairo' !important;
            font-size: 16px;
            font-weight: 700;
            color: #000;
          ">{{SubscriberNameAr}}</p>
        </div>
      <!-- End Arabic Name -->

      <!-- Start English Name -->
        <div class="name-en"
          style="
          position: absolute;
          height: 24px;
          width: 187px;
          top: 83px;
          left: 125px;
          text-align: left;
          overflow: hidden;
          ">
          <p
            style="
            margin: 0;
            font-family: 'Cairo' !important;
            font-size: 11px;
            font-weight: 700;
            color: #000;
          ">{{SubscriberNameEn}}</p>
        </div>
      <!-- End English Name -->

      <!-- Start Code -->
        <div class="code"
          style="
          position: absolute;
          height: 15px;
          width: 30px;
          top: 101px;
          left: 59px;
          text-align: left;
          overflow: hidden;
          ">
          <p
            style="
            margin: 0;
            font-family: 'Cairo' !important;
            font-size: 10px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.726);
          ">{{SubscriberCode}}</p>
        </div>
      <!-- End Code -->

      <!-- Start Governorate -->
        <div class="Governorate"
          style="
          position: absolute;
          height: 25px;
          width: 50px;
          top: 142px;
          left: 251px;
          text-align: center;
          overflow: hidden;
          ">
          <p
            style="
            margin: 0;
            font-family: 'Cairo' !important;
            font-size: 10px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.726);
          ">{{GovernorateDesc}}</p>
        </div>
      <!-- End Governorate -->

      <!-- Start SubscriberDate -->
        <div class="Subscriber-Date"
          style="
          position: absolute;
          height: 25px;
          width: 65px;
          top: 142px;
          left: 177px;
          text-align: center;
          overflow: hidden;
          ">
          <p
            style="
            margin: 0;
            font-family: 'Cairo' !important;
            font-size: 10px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.726);
          ">{{SubscriberDate | date: 'dd-MM-yyyy'}}</p>
        </div>
      <!-- End SubscriberDate -->

      <!-- Start SubscriberDate -->
        <div class="Subscriber-Date"
          style="
          position: absolute;
          height: 25px;
          width: 77px;
          top: 142px;
          left: 95px;
          text-align: center;
          overflow: hidden;
          ">
          <p
            style="
            margin: 0;
            font-family: 'Cairo' !important;
            font-size: 10px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.726);
          ">{{TrainerName}}</p>
        </div>
      <!-- End SubscriberDate -->


      </div>
    </div>
    <!-- End Face To Print -->


    <!-- Start Back To Print -->
    <div id="demo2" class="page">
      <div class="subpage"
        style="
          position: relative;
        ">
        <img src="../../../../../assets/cards/card.png" alt=""
          style="
          max-width: 100%;
          min-height: 100%;
        ">
      </div>
    </div>
    <!-- End Back To Print -->



    <!-- Start Button To Print -->
  <button [useExistingCss]="useExistingCss" styleSheetFile="{{styleName}}"
    printSectionId="demo1"  class="btn btn-success btn-block" ngxPrint>
    طباعه وجه الكارنيه
  </button>

  <button [useExistingCss]="useExistingCss" styleSheetFile="{{styleName}}"
    printSectionId="demo2"  class="btn btn-info btn-block" ngxPrint>
    طباعة ظهر الكارنيه
  </button>
    <!-- End Button To Print -->


